@font-face {
    font-family: 'Montserrat Light';
    src: url('../fontes/Montserrat.ttf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontes/Montserrat-Medium.ttf') format('opentype');
}

.d-flex {
    display: flex;
    justify-content: center;
}

.d-flexx {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;

    font-family: Montserrat;
    font-size: 12px;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

button {
    font-size: 16px;
    color: #0074FF;
    margin-top: 5%;
    line-height: 29px;
    padding: 10px 30px;
    border: none;
    background-color: #fff;
    border: 1px solid #000;
}

button:hover {
    cursor: pointer;
}

ul {
    margin-left: 25%;
    text-align: right;
    display: inline;
}

ul li {
    display: inline-block;
    list-style: none;
    list-style-type: none;
    margin: 30px 20px;
    padding: 10px 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0074FF;
}

.right {
    float: right;
}

.left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

footer {
    background-color: #1A1A1A;
    color: #fff;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;
    font-family: Montserrat;
}

nav {
    display: inline;
    text-align: center;
}

nav div {
    display: inline;
}

.blue {
    color: #0074FF;
}

section {
    height: 100%;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.card {
    color: #fff;
    background-color: #0074FF;
}

.card-title {
    position: relative;
    bottom: 53px;
    left: 27px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    width: 90%;
}

.card-text {
    position: relative;
    bottom: 30px;
    left: 15px;
    font-family: Montserrat Light;
    font-size: 12px;
    width: 90%;
}

.card-number {
    position: relative;
    color: #005dcc;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 100px;
}

.card-description {
    position: relative;
    bottom: 15px;
    left: 15px;
    font-family: Montserrat Light;
    font-size: 12px;
    width: 90%;
}

.card-seg {
    color: #000;
}

.card-seg-number {
    position: relative;
}

.card-seg-title {
    position: relative;
    bottom: 20px;
    left: 70px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.card-seg-description {
    padding-left: 56px;
    position: relative;
    bottom: 15px;
    left: 15px;
    font-family: Montserrat Light;
    font-size: 12px;
    width: 70%;
}

.col-2 {
    width: 16.67%;
}

.col-3 {
    width: 24%;
}

.col-4 {
    width: 33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media screen and (max-width: 1016px) {
    .card {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 620px) {
    .padding {
        padding: 20px;
    }

    body {
        overflow-y: none;
        margin: 0;
        padding: 0;
    }

    .circulo {
        position: absolute;
        top: -100px;
        z-index: -1;
        right: -250px
    }

    .logo {
        margin: 0;
        padding: 0;
    }

    ul {
        display: block;
    }

    ul li {
        display: block;
        list-style: none;
        list-style-type: none;
    }

    .d-flex {
        width: 100%;
        display: block;
    }

    .d-flexx {
        width: 100%;
        display: block;
    }

    nav {
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }

    nav div {
        width: 100%;
        display: block;
    }

    iframe {
        width: 100%;
    }

    .card-seg {
        width: 100%;
    }

    footer {
        height: 140px;
    }

    .direitos {
        float: center;
    }

    .col-3 {
        width: 100%;
        margin-bottom: 30px;
    }

    .col-4 {
        width: 100%;
    }

    .col-5 {
        width: 100%;
    }

    .col-6 {
        width: 100%;
    }

    .col-7 {
        width: 100%;
    }

    .col-8 {
        width: 100%;
    }

    .col-9 {
        width: 100%;
    }

    .col-10 {
        width: 100%;
    }

    .col-11 {
        width: 100%;
    }
}

.text {
    font-family: 'Montserrat Light';
    font-size: 26px;
    color: #595959;
}